.wrapper {
    width: 480px;
    display: flex;
    flex-direction: column;
    margin: 135px auto;
    padding: 30px;
}

.heading {
    font-family: "JetBrainsMono", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.container {
    display: grid;
    gap: 24px;
    margin-top: 24px;
}

.box {
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: "JetBrainsMono", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #8585AD;
    margin: 0;
}

.link {
    font-family: "JetBrainsMono", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #4C4CFF;
    text-decoration-line: none;
}
