.block {
    margin-left: 60px;
}

.title {
    font-family: "JetBrainsMono", Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.box {
    display: flex;
    text-align: center;
    vertical-align: middle;
}
