.buttonClose {
    text-align: right;
    margin: 40px;
}

.modal {
    position: fixed;
    top: 0;
    left: 20%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    width: 720px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 15% auto;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.20);
    background: #1C1C21;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04),
    0 4px 8px 0 rgba(0, 0, 0, 0.04),
    0 16px 24px 0 rgba(0, 0, 0, 0.04),
    0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "JetBrainsMono", Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-left: 0;
}

.close {
    width: 26px;
    top: -26px;
    right: -26px;
    cursor: pointer;
}
