.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.linkWhite {
    font-family: "JetBrainsMono", Arial, sans-serif;
    background:none;
    border:none;
    text-decoration-line: none;
    color: white;
}

.link {
    font-family: "JetBrainsMono", Arial, sans-serif;
    color: #8585AD;
    background:none;
    border:none;
    text-decoration-line: none;
}

.header {
    max-width: 100%;
    height: 80px;
    margin: 0;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
