.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.button {
    color: #8585AD;
    background:none;
    border:none;
}

.header {
    max-width: 100%;
    height: 80px;
    margin: 0;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
