.container {
    display: block;
    padding: 10px;
    float: left;
    width: 600px;
    overflow-y: auto;
    height: 500px;
}

.item {
    display: flex;
}

.box {
    display: block;
}

.price {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.title {
    margin: 0;
}
